<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" routerLink='/'>
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink='category'>
                <i class="bi bi-grid"></i>
                <span>Category</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink='product'>
                <i class="bi bi-grid"></i>
                <span>Products</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink='customer'>
                <i class="bi bi-grid"></i>
                <span>Customer</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink='supplier'>
                <i class="bi bi-grid"></i>
                <span>Suppliers</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink='outgoing-product'>
                <i class="bi bi-grid"></i>
                <span>Outgoig Products</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="purchase-product">
                <i class="bi bi-grid"></i>
                <span>Purchased Products</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink='system-user'>
                <i class="bi bi-grid"></i>
                <span>System Users</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link logout-link" (click)="logout()" >
                <i class="fa-solid fa-power-off"></i>
                <span>Log Out</span>
            </a>
        </li>
        
        

    </ul>

</aside><!-- End Sidebar-->