<div class="main-home">
    <div class="card">
        <div class="card-title">
            <h1>2</h1>
        </div>
        <div class="card-content">
            <h3>system user</h3>
        </div>
        <div class="card_info">
            <a routerLink="">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>2</h1>
        </div>
        <div class="card-content">
            <h3>Category</h3>
        </div>
        <div>
            <a routerLink="">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>2</h1>
        </div>
        <div class="card-content">
            <h3>Product</h3>
        </div>
        <div>
            <a routerLink="">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>2</h1>
        </div>
        <div class="card-content">
            <h3>Customer</h3>
        </div>
        <div>
            <a routerLink="">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>2</h1>
        </div>
        <div class="card-content">
            <h3>Supplier</h3>
        </div>
        <div>
            <a routerLink="">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>2</h1>
        </div>
        <div class="card-content">
            <h3>Total Purchase</h3>
        </div>
        <div>
            <a routerLink="">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>2</h1>
        </div>
        <div class="card-content">
            <h3>Total Outgoning</h3>
        </div>
        <div>
            <a routerLink="">More Info</a>
        </div>
    </div>
</div>