<div class="main-home">
    <div class="card">
        <div class="card-title">
            <h1>{{dashboard?dashboard.system_user:0}}</h1>
        </div>
        <div class="card-content">
            <h3>system user</h3>
        </div>
        <div class="card_info">
            <a routerLink="system-user">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>{{dashboard?dashboard.category:0}}</h1>
        </div>
        <div class="card-content">
            <h3>Category</h3>
        </div>
        <div>
            <a routerLink="category">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>{{dashboard?dashboard.product:0}}</h1>
        </div>
        <div class="card-content">
            <h3>Product</h3>
        </div>
        <div>
            <a routerLink="product">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>{{dashboard?dashboard.customer:0}}</h1>
        </div>
        <div class="card-content">
            <h3>Customer</h3>
        </div>
        <div>
            <a routerLink="customer">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>{{dashboard?dashboard.supplier:0}}</h1>
        </div>
        <div class="card-content">
            <h3>Supplier</h3>
        </div>
        <div>
            <a routerLink="supplier">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>0</h1>
        </div>
        <div class="card-content">
            <h3>Total Purchase</h3>
        </div>
        <div>
            <a routerLink="purchase-product">More Info</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>0</h1>
        </div>
        <div class="card-content">
            <h3>Total Outgoning</h3>
        </div>
        <div>
            <a routerLink="outgoing-product">More Info</a>
        </div>
    </div>
</div>