<div class="table-div">

    <div class="category-header">
        <h3 style=" margin: 5px 0px 5px 2px;">List of category</h3>
        <button class="btn btn-danger" (click)="openModal()"><i class="fa-solid fa-plus"></i> Add a New
            Category</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Category Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of category">
                <th scope="row">{{i.id}}</th>
                <td>{{i.category_name}}</td>
                <td><button class="btn btn-danger" (click)="deleteCategory(i.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>