<div class="table-div pdfData" id="supplier">

    <div class="category-header">
        <h3 style=" margin: 5px 0px 5px 2px;">List of Supplier</h3>
        <!-- <button class="btn btn-danger" (click)="openModal()"><i class="fa-solid fa-plus"></i> Add a New Product</button> -->
        <!-- <button class="btn btn-danger"><i class="fa-solid fa-plus"></i> Add a New Product</button> -->
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of supplier">
                <th scope="row">{{i.id}}</th>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td><button class="btn btn-danger" (click)="deleteSupplier(i.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4 text-right">
    <button class="btn btn-primary btn-block m-2" (click)="openPDF()">Download PDF</button>
    <button class="btn btn-success btn-block" (click)="openEXL()">Download XLSX</button>
</div>